/* 1 */
h2 {
    color: blue;
}
P {
    color: orange;
}

.index-intro p {
    color:blue;

}

#index-h2 {
    color: green;
}

#margin-expirement1{
    height: 25px;
    background: red;
    border: 5px white
    margin: 0px 0px 0px 0px;
}

/* 1 */
p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.wrapper{
    margin: 5px;
}
/* 2 */
h1{
    text-align: center;
}
body{
    background-color: green;
}
.wrapper{
    margin: 10px;
}
h3{
    text-align: center;
}
P{
    border: 4px pink;
}
h4{
    text-align: center;
}
.wrapper{
    margin: 10px
}
.nav{
    position: fixed;
    top:3;
    right:2;
    width:100px;
    background-color:gray
    border: 4px black;
}
